.st-input-entry {

  // component container
  &-container {
    background-color: lighten($grey, 5%);
    padding: 10px;
  }

  // spacing beneath rows containing input fields
  &-input-row {
    margin-bottom: 15px;
  }

  // add a red border surrounding the 'Ski Area' dropdown
  &-invalid {
    & > dropdown > div {
      // text input field of dropdown
      & > input {
        border: solid 1px red;
      }

      // btn containing dropdown icon of dropdown
      & > button {
        border-top: solid 1px red !important;
        border-right: solid 1px red !important;
        border-bottom: solid 1px red !important;
      }
    }
  }
}

// add a red border to invalid text input fields
input.st-input-entry-invalid {
  border: solid 1px red;
}