<div class="st-input-entry-container">

  <!-- date and ski areas labels -->
  <div class="row">
    <div class="st-input-label col-md-4 col-sm-4">Date:</div>
    <div class="st-input-label col-md-8 col-sm-8">Ski Area:</div>
  </div>

  <!-- date and ski areas input fields -->
  <div class="row st-input-entry-input-row">
    <div class="col-md-4 col-sm-4">
      <datepicker date="$ctrl.entryObj.date"
                  max-date="$ctrl.currDate"
                  on-date-select="$ctrl.setDate(_value)">
      </datepicker>
    </div>

    <div class="col-md-8 col-sm-8"
         ng-class="{'st-input-entry-invalid': $ctrl.invalidInputFields.includes('skiArea')}">
      <dropdown dropdown-type="simple"
                default-val="-- select ski area --"
                options-arr="$ctrl.skiAreasNames"
                init-selected="$ctrl.entryObj.skiArea.name"
                on-item-select="$ctrl.setSkiArea(_value)">
      </dropdown>
    </div>
  </div>


  <!-- skied with label -->
  <div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="st-input-label col-md-8 col-sm-8">Skied With:</div>
  </div>

  <!-- skied with dropdown -->
  <div class="row st-input-entry-input-row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-8 col-sm-8">
      <dropdown dropdown-type="multiselect"
                default-val="Select Skiers"
                options-arr="$ctrl.userSkiPartners"
                init-selected="$ctrl.entryObj.skiedWith"
                add-new-allowed="true"
                on-item-select="$ctrl.setSkiedWith(_value)"
                on-new-item-added="$ctrl.addSkiedWith(_newItem)">
      </dropdown>
    </div>
  </div>


  <!-- ski vert, and max altitude labels -->
  <div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="st-input-label col-md-4 col-sm-4">Ski Vertical (ft):</div>
    <div class="st-input-label col-md-4 col-sm-4">Heighest Altitude (ft):</div>
  </div>

  <!-- skied with, ski vert, and max altitude input fields -->
  <div class="row st-input-entry-input-row">
    <div class="col-md-4 col-sm-4"></div>
    
    <div class="col-md-4 col-sm-4">
      <input class="st-input"
             ng-model="$ctrl.entryObj.stats.skiVert"
             ng-class="{'st-input-entry-invalid': $ctrl.invalidInputFields.includes('skiVert')}"
             ng-keydown="$ctrl.removeInvalid('skiVert')">
    </div>
    
    <div class="col-md-4 col-sm-4">
      <input class="st-input"
             ng-model="$ctrl.entryObj.stats.maxAlt"
             ng-class="{'st-input-entry-invalid': $ctrl.invalidInputFields.includes('maxAlt')}"
             ng-keydown="$ctrl.removeInvalid('maxAlt')">
    </div>
  </div>


  <!-- ski distance, top speed lables -->
  <div class="row">
    <div class="st-input-label col-md-4 col-sm-4"></div>
    <div class="st-input-label col-md-4 col-sm-4">Ski Distance (mi):</div>
    <div class="st-input-label col-md-4 col-sm-4">Top Speed (mph):</div>
  </div>

  <!-- ski distance, top speed input fields -->
  <div class="row st-input-entry-input-row">
    <div class="col-md-4 col-sm-4"></div>
    
    <div class="col-md-4 col-sm-4">
      <input class="st-input"
             ng-model="$ctrl.entryObj.stats.skiDist"
             ng-class="{'st-input-entry-invalid': $ctrl.invalidInputFields.includes('skiDist')}"
             ng-keydown="$ctrl.removeInvalid('skiDist')">
    </div>

    <div class="col-md-4 col-sm-4">
      <input class="st-input"
             ng-model="$ctrl.entryObj.stats.maxSpeed"
             ng-class="{'st-input-entry-invalid': $ctrl.invalidInputFields.includes('maxSpeed')}"
             ng-keydown="$ctrl.removeInvalid('maxSpeed')">
    </div>
  </div>


  <!-- description label -->
  <div class="row">
    <div class="st-input-label col-md-12 col-sm-12">Description:</div>
  </div>

  <!-- description input field -->
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <textarea class="st-input st-input-textarea" ng-model="$ctrl.entryObj.description"></textarea>
    </div>
  </div>

</div>