.st-input-entry {

  // component container
  &-container {
    background-color: lighten($grey, 5%);
    padding: 10px;
  }

  // spacing beneath rows containing input fields
  &-input-row {
    margin-bottom: 15px;
  }

  // styling appended to row containing btn (only used for 'create new entry' btn row)
  &-btn-row {
    margin-top: 10px;
  }

  // create new entry btn at bottom of component
  &-create-btn {
    @include st-btn-style(darken($powder-blue, 10%), $white, lighten($black, 20%));

    width: 100%;

    &:hover {
      @include st-btn-style(darken($powder-blue, 10%), lighten($powder-blue, 32%), lighten($black, 20%));
    }
  }

  // add a red border surrounding the 'Ski Area' dropdown
  &-invalid {
    & > dropdown > div {
      // text input field of dropdown
      & > input {
        border: solid 1px red;
      }

      // btn containing dropdown icon of dropdown
      & > button {
        border-top: solid 1px red !important;
        border-right: solid 1px red !important;
        border-bottom: solid 1px red !important;
      }
    }
  }
}

// add a red border to invalid text input fields
input.st-input-entry-invalid {
  border: solid 1px red;
}