.st-ed {
  $orange: #ffa500;

  &-header {
    @include rep-lin-grad-header(lighten($orange, 10%), $orange);
  }

  &-body {
    // display: flex;
    padding-top: 10px;
  }

  &-filter-container {
    border: solid 1px $powder-blue;
    // width: 30
  }

  &-entries-container {
    border: solid 1px gold;
  }
}