// this file only contains styling for base elements (p, body, a, etc.)

body {
  font-family: Arial;
  background-color: lighten($grey, 5%);
  margin: 0px;
}

// all list bullets
ul {
  @include margin-y(10px);

  & li::marker {
    color: darken($powder-blue, 10%);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;

  &:focus {
    outline: 0;
  }

  // remove outline from firefox
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}