// this file only contains styling for base elements (p, body, a, etc.)

body {
  font-family: Arial;
  background-color: lighten($grey, 5%);
  margin: 0px;
}

// all list bullets
ul li::marker {
  color: darken($powder-blue, 10%);
}