// global styling for the application. all styling in this file will sequentially come before all other styling in ../../app.style.css
// NOTE - this file should only contain styling for base elements (p, body, a, etc.)

body {
  font-family: Arial;
  background-color: lighten($grey, 5%);
  margin: 0px;
}

// all list bullets
ul li::marker {
  color: darken($powder-blue, 10%);
}