.st-eli {
  $border-rad: 3px;

  // each entry container
  &-container {
    border-bottom: solid 1px $powder-blue;
  }

  &-last-item {
    border-bottom: none;
    border-radius: 0 0 $border-rad $border-rad;
  }

  // entry headers
  &-header {
    padding: 8px;

    display: flex;
    background: linear-gradient(lighten($grey, 4.5%), lighten($powder-blue, 31%));

    &:hover {
      cursor: pointer;
    }

    // added for bootstrap row for header items to make col heights the same
    &-items-row {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    &-day {
      color: $title-blue;
      font-weight: 600;
      margin-left: 10px;
    }
    
    &-date {
      font-size: 12px;
      margin-left: 10px;
    }

    &-ski-area {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $title-blue;
      font-size: 20px;
      text-align: center;
    }

    &-icons-container {
      display: flex;
      align-items: center;
      justify-content: end;
      padding-right: 0;
      color: lighten($title-blue, 15%);

      & > i {
        padding: 5px;

        &:hover {
          color: $title-blue;
          cursor: pointer;
        }

        &:last-of-type {
          margin-left: 10%;
        }
      }
    }
  }

  &-body {
    border-top: solid 1px darken($grey, 35%);
    background-color: $white;
    // background-color: lighten($grey, 4%);
    // padding: 8px;
  }
}