<div class="st-input-cust-container st-dropdown-container"
     ng-class="{'st-input-cust-container-shadow': isToggled}"
     ng-click="toggleDropdown()">
  
  <!-- text input field used to hold value of dropdown -->
  <input class="st-input" ng-model="selectModel" readonly>

  <!-- btn w/ icon -->
  <button class="st-input-icon-btn" type="button" ng-click="toggleBoxShadow()">
    <i class="fas fa-chevron-down"></i>
  </button>

  <!-- dropdown options (their position is absolute) -->
  <div class="st-dropdown-options-container"
       ng-class="{'hidden': !isToggled}">
       
    <div class="st-dropdown-option"
         ng-repeat="item in optionsArr"
         ng-class="{'selected': item == selectModel}"
         ng-if="!$first || ($first && selectModel != defaultVal)">
      {{item}}
    </div>
  </div>

</div>