<div class="st-playground">

  <div class="st-playground-test-container">
    <!-- <input type=text class="st-text-input"> -->
    <input type=text class="st-input">
  </div>

  <!-- <div class="st-playground-test-container">
    <select class="st-dropdown">
      <option>Randy</option>
      <option>Lahey</option>
      <option>Ricky</option>
      <option>Julian</option>
      <option>Bubbles</option>
      <option>Patrick Schwayze</option>
    </select>
  </div> -->

  <div class="st-playground-test-container">
    
    <div class="st-dropdown-container">
      <select class="st-input st-dropdown">
        <option>Randy</option>
        <option>Lahey</option>
        <option>Ricky</option>
        <option>Julian</option>
        <option>Bubbles</option>
        <option>Patrick Schwayze</option>
      </select>
      <i class="fas fa-caret-down"></i>
    </div>

  </div>


  <!-- TODO - uibdatepicker -->

</div>