<div class="st-playground">

  <div class="st-playground-test-container">
    <calendar date="calendarDate"></calendar>
  </div>

  <div class="st-playground-test-container">
    <p>Input Entry:</p>

    <input-entry entry-obj="testEntryObj"
                 on-entry-enerated="addNewEntry(_entry)">
    </input-entry>
    <button type="button" ng-click="generateEntryObj()">Generate Entry Obj</button>
  </div>

  <!-- text input field -->
  <div class="st-playground-test-container">
    <p>Text Input Field:</p>

    <input type=text class="st-input">
  </div>


  <!-- dropdown simple -->
  <div class="st-playground-test-container">
    <p>Dropdown Simple:</p>

    <dropdown dropdown-type="simple"
              default-val="-- select character --"
              options-arr="testOptions1"
              on-item-select="printSelectedVal(_value)">
    </dropdown>
  </div>

  
  <!-- dropdown multiselect -->
  <div class="st-playground-test-container">
    <p>Dropdown Multiselect:</p>

    <dropdown dropdown-type="multiselect"
              default-val="Select Ski Partners"
              options-arr="testOptions3"
              add-new-allowed="true"
              on-item-select="printSelectedVal(_value)"
              on-new-item-added="addToTestOptions3(_newItem)">
    </dropdown>
  </div>

  
  <!-- datepicker -->
  <div class="st-playground-test-container">
    <p>Datepicker:</p>

    <datepicker date="datepicker.date"
                format="{{datepicker.format}}"
                on-date-select="dateChanged(_value)">
    </datepicker>
  </div>

  <!-- uib typeahead -->
  <div class="st-playground-test-container">
    <p>Typeahead:</p>

    <input type=text class="st-input"
           ng-model="typeahead1"
           uib-typeahead="person for person in testOptions1 | filter:$viewValue">
  </div>


  <!-- test bootstrap cols -->
  <div class="row">
    <div class="col-md-3">
      <input type=text class="st-input">
    </div>

    <div class="col-md-3">
      <dropdown dropdown-type="simple"
                default-val="-- select character --"
                options-arr="testOptions2"
                on-item-select="printSelectedVal(_value)">
      </dropdown>
    </div>

    <div class="col-md-3">
      <datepicker date="datepicker.date"
                  format="{{datepicker.format}}"
                  on-date-select="dateChanged(_value)">
      </datepicker>
    </div>

    <div class="col-md-3">
      <input type=text class="st-input"
             ng-model="typeahead2"
             uib-typeahead="person for person in testOptions2 | filter:$viewValue">
    </div>
  </div>

</div>