<div class="st-playground">

  <div class="st-playground-test-container">
    <p>New Entry:</p>

    <new-entry></new-entry>
  </div>

  <!-- text input field -->
  <div class="st-playground-test-container">
    <p>Text Input Field:</p>

    <input type=text class="st-input">
  </div>


  <!-- dropdown simple -->
  <div class="st-playground-test-container">
    <p>Dropdown Simple:</p>

    <dropdown dropdown-type="simple"
              default-val="-- select character --"
              options-arr="testOptions1"
              on-item-select="printSelectedVal(_value)">
    </dropdown>
  </div>

  
  <!-- dropdown multiselect -->
  <div class="st-playground-test-container">
    <p>Dropdown Multiselect:</p>

    <dropdown dropdown-type="multiselect"
              default-val="Select Ski Partners"
              options-arr="testOptions3"
              on-item-select="printSelectedVal(_value)">
    </dropdown>
  </div>

  
  <!-- datepicker -->
  <div class="st-playground-test-container">
    <p>Datepicker:</p>

    <datepicker date="datepicker.date"
                format="{{datepicker.format}}"
                on-date-select="dateChanged(_value)">
    </datepicker>
  </div>

  <!-- uib typeahead -->
  <div class="st-playground-test-container">
    <p>Typeahead:</p>

    <input type=text class="st-input"
           ng-model="typeahead1"
           uib-typeahead="person for person in testOptions1 | filter:$viewValue">
  </div>

</div>