<div class="st-nav-bar-container">
  <!-- title -->
  <div class="st-nav-bar-title-container">
    <div class="st-nav-bar-title" ng-click="$ctrl.routeTo('home')">
      <i class="fas fa-skiing" id="st-nav-bar-skier-icon"></i>
      Ski Tracker
    </div>
  </div>

  <!-- options -->
  <div class="st-nav-bar-options-container">
    <div class="st-nav-bar-option">
      Yaboo!
    </div>

    <div class="st-nav-bar-option">
      Upload
    </div>

    <div class="st-nav-bar-option">
      About
    </div>
  </div>
</div>