<div class="st-panel-container">
  <!-- view header -->
  <div class="st-panel-header">
    Welcome to View 1
  </div>

  <!-- view body -->
  <div class="st-panel-body">
    This view has so many great features! You must be thrilled to see them!

    <!-- btn -->
    <!-- <div class="st-flex-container">
      <button type="button" class="st-btn st-btn-powder-woohoo">Powder WooHoo!</button>
    </div> -->
    
    <powder-action></powder-action>

    <!-- <powder-action
      val="value"
      msg="sweet msg"
      class="swaggy style">
    </powder-action> -->
</div>