.st-fresh {
  &-header {
    @include rep-lin-grad-header($powder-blue, darken($powder-blue, 8%));
  }

  &-body {
    border-top: solid 1px darken($powder-blue, 8%);
    background: linear-gradient($light-green, lighten($light-green, 15%));
    padding-bottom: 20px;
  }

  &-description {
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 20px;

    & > p:last-of-type {
      margin-bottom: 5px;
    }
  }



  // ENTRY STYLING
  &-entry-container {
    // border-top: solid 1px $black;
    @include margin-x(20px);
    border: solid 1px darken($powder-blue, 20%);
    // border: solid 1px white;
    border-radius: 3px;

    & > div {
      padding: 10px;
    }
  }

  &-entry-header {
    background-color: $powder-blue;
    border-radius: 3px 3px 0 0;

    color: $white;
    font-size: 24px;
  }

  &-entry-body {
    background-color: lighten($powder-blue, 30%);
    border-radius: 0 0 3px 3px;
  }
}