<div class="st-fresh-header">
  Starting Fresh
</div>

<div class="st-fresh-body">
  <!-- brief info about starting fresh -->
  <div class="st-fresh-description">
    <p>
      Starting Fresh is great! Kind of like jumping into some fresh pow on a fat pow day. You have no friends and will have to make some new ones...
    </p>

    <p>
      To get started, we're going to need to enter some info about your first day of skiing this season!
      <br/>
      Please enter info on your first day into the fields below.
    </p>
  </div>

  <!-- new entry -->
  <div class="st-fresh-entry-container">
    <div class="st-fresh-entry-header">Your First Entry!</div>

    <div class="st-fresh-entry-body">
      <input-entry on-entry-generated="onFirstEntryCreated(_entry)"></input-entry>

      <div class="st-fresh-entry-create-btn-container">
        <button class="st-btn st-fresh-entry-create-btn" type="button"
                ng-click="$broadcast('generateEntryObject')">
          Create New Entry
        </button>
      </div>
    </div>
  </div>
</div>