<div class="st-view-container">
  <!-- view header -->
  <div class="st-view-header">
    Welcome to View 2
  </div>

  <!-- view body -->
  <div class="st-view-body">
    This view has two great features! They're both buttons! Woohoo

    <!-- btns -->
    <div class="st-flex-container">
      <button class="st-btn st-btn-powder" type="button">Powder!</button>
      <button class="st-btn st-btn-woohoo" type="button">WooHoo!</button>
    </div>
  </div>
</div>

<div class="test-class">
  <p ng-repeat="item in testArr">
    {{item}}
  </p>
</div>