<!-- 'Get Started' container -->
<div class="st-home-gs-container">
  <div class="st-home-gs-title">Get Started!</div>

  <!-- get started btn descriptions -->
  <div class="st-home-gs-desc">
    <ul>
      <li>
        Select <b>Upload</b> to upload a JSON file containing your previous Ski Tracker Stats.
      </li>
      <li>
        Select <b>Start Fresh</b> start tracking your Ski Days from scratch!
      </li>
    </ul>
  </div>

  <!-- btns -->
  <div class="st-home-gs-btns">
    <button class="st-btn" type="button">Upload</button>
    <button class="st-btn" type="button">Start Fresh</button>
  </div>
</div>

<!-- Features of the application -->
<div class="st-home-feats-container">
  <div class="st-home-feats-title">The Ski Tracker Features</div>

  <div class="st-home-feats-body">
    <!-- left features list -->
    <div class="st-home-feats-list-container">
      <div class="st-home-feats-list-title">
        What You Can Track
        <i class="far fa-question-circle"
           uib-tooltip="{{tooltipMsgs[0]}}"
           tooltip-placement="right"></i>
      </div>

      <!-- TODO - use tooltip for this (add '?' icon next to title for tooltip) -->
      <!-- <div class="st-home-feats-list-desc">
        Save as much info about your day of skiing as you can! Any entry you create can have as much or as little information as you want to track! Some of the options are below.
      </div> -->

      <ul>
        <li>Which Ski Area(s) you visited</li>
        <li>Who you skied with</li>
        <li>A description of your day</li>
        <li>Total vertical skied</li>
        <li>Total distance skied</li>
        <li>Top speed</li>
        <li>Heighest altitude</li>
      </ul>
    </div>
    
    <!-- right features list -->
    <div class="st-home-feats-list-container">
      <div class="st-home-feats-list-title">
        What You Can Filter By
        <i class="far fa-question-circle"
           uib-tooltip="{{tooltipMsgs[1]}}"
           tooltip-placement="right"></i>
      </div>

      <!-- TODO - use tooltip for this (add '?' icon next to title for tooltip) -->
      <!-- <div class="st-home-feats-list-desc">
        Filter the days you want to see! Trying to remember a specific day somewhere or with someone? Fastest speed? Apply a filter to find the day you did that!
      </div> -->

      <ul>
        <li>Ski Area</li>
        <li>State</li>
        <li>Who you skied with</li>
        <li>Range of vertical skied</li>
        <li>Range of distance skied</li>
        <li>Top speed</li>
        <li>Heighest altitude</li>
      </ul>
    </div>
  </div>

</div>