<!-- 'Get Started' container -->
<div class="st-home-gs-container">
  <div class="st-home-gs-title">Get Started!</div>

  <!-- get started btn descriptions -->
  <div class="st-home-gs-desc">
    <ul>
      <li>
        Select <b>Upload</b> to upload a JSON file containing your previous Ski Tracker Stats.
      </li>
      <li>
        Select <b>Start Fresh</b> start tracking your Ski Days from scratch!
      </li>
    </ul>
  </div>

  <!-- btns -->
  <div class="st-home-gs-btns">
    <button class="st-btn" type="button">Upload</button>
    <button class="st-btn" type="button">Start Fresh</button>
  </div>
</div>

<!-- Features of the application -->
<div class="st-home-feats-container">
  <div class="st-home-feats-title">Ski Tracker Features</div>

  <div class="st-home-feats-body">
    <!-- left features list -->
    <div class="st-home-feats-list-container">
      <!-- title and tooltip -->
      <div class="st-home-feats-list-title">
        What You Can Track
        <i class="far fa-question-circle"
           uib-tooltip="{{tooltipMsgs[0]}}"
           tooltip-class="powder-tooltip"
           tooltip-placement="right"></i>
      </div>

      <ul>
        <li>Which Ski Area(s) you visited</li>
        <li>Who you skied with</li>
        <li>A description of your day</li>
        <li>Total vertical skied</li>
        <li>Total distance skied</li>
        <li>Top speed</li>
        <li>Heighest altitude</li>
      </ul>
    </div>
    
    <!-- right features list -->
    <div class="st-home-feats-list-container">
      <!-- title and tooltip -->
      <div class="st-home-feats-list-title">
        What You Can Filter By
        <i class="far fa-question-circle"
           uib-tooltip="{{tooltipMsgs[1]}}"
           tooltip-class="powder-tooltip"
           tooltip-placement="right"></i>
      </div>

      <ul>
        <li>Ski Area</li>
        <li>State</li>
        <li>Date</li>
        <li>Who you skied with</li>
        <li>Range of vertical skied</li>
        <li>Range of distance skied</li>
        <li>Top speed</li>
        <li>Heighest altitude</li>
      </ul>
    </div>
  </div>
</div>