<p>I am dropdown-multiselect component! Woohoo!</p>

<div class="st-input-cust-container st-dropdown-container"
     ng-class="{'st-input-cust-container-shadow': $ctrl.isToggled}"
     ng-click="$ctrl.toggleDropdown()">
  
  <!-- text input field used to hold value of dropdown -->
  <input class="st-input" ng-model="$ctrl.selectModel" readonly>

  <!-- btn w/ icon -->
  <button class="st-input-icon-btn" type="button" ng-click="$ctrl.toggleBoxShadow()">
    <!-- <i class="fas fa-chevron-down"></i> -->
    <i class="fas fa-chevron-circle-down"></i>
  </button>

  <!-- dropdown options (their position is absolute) -->
  <div class="st-dropdown-options-container"
       ng-class="{'hidden': !$ctrl.isToggled}">

    <div class="st-dropdown-option st-dropdown-option-multiselect"
         ng-repeat="item in $ctrl.optionsArr">
      {{item}}
    </div>
  </div>

</div>