.st-new-entry {
    
  &-container {
    background-color: lighten($grey, 5%);
    padding: 10px;
  }

  &-input-row {
    margin-bottom: 15px;
  }

  &-btn-row {
    margin-top: 10px;
  }

  &-create-btn {
    @include st-btn-style(darken($powder-blue, 10%), $white, lighten($black, 20%));

    width: 100%;

    &:hover {
      @include st-btn-style(darken($powder-blue, 10%), lighten($powder-blue, 32%), lighten($black, 20%));
    }
  }

}