<div class="st-new-entry-container">

  <!-- date and ski areas labels -->
  <div class="row">
    <div class="st-input-label col-md-4 col-sm-4">Date:</div>
    <div class="st-input-label col-md-8 col-sm-8">Ski Area:</div>
  </div>

  <!-- date and ski areas input fields -->
  <div class="row st-new-entry-input-row">
    <div class="col-md-4 col-sm-4">
      <datepicker date="$ctrl.date"
                  on-date-select="$ctrl.setDate(_value)">
      </datepicker>
    </div>

    <div class="col-md-8 col-sm-8">
      <dropdown dropdown-type="simple"
                default-val="-- select ski area --"
                options-arr="$ctrl.testSkiAreas"
                on-item-select="$ctrl.setSkiArea(_value)">
      </dropdown>
    </div>
  </div>


  <!-- skied with label -->
  <div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="st-input-label col-md-8 col-sm-8">Skied With:</div>
  </div>

  <!-- skied with dropdown -->
  <div class="row st-new-entry-input-row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-8 col-sm-8">
      <dropdown dropdown-type="multiselect"
                default-val="Select Skiers"
                options-arr="$ctrl.testSkiedWith"
                on-item-select="$ctrl.setSkiedWith(_value)"
                on-new-item-added="$ctrl.addSkiedWith(_newItem)">
      </dropdown>
    </div>
  </div>


  <!-- ski vert, and max altitude labels -->
  <div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="st-input-label col-md-4 col-sm-4">Ski Vertical:</div>
    <div class="st-input-label col-md-4 col-sm-4">Heighest Altitude:</div>
  </div>

  <!-- skied with, ski vert, and max altitude input fields -->
  <div class="row st-new-entry-input-row">
    <div class="col-md-4 col-sm-4"></div>
    
    <div class="col-md-4 col-sm-4">
      <input class="st-input" ng-model="$ctrl.skiVert">
    </div>
    
    <div class="col-md-4 col-sm-4">
      <input class="st-input" ng-model="$ctrl.maxAlt">
    </div>
  </div>


  <!-- ski distance, top speed lables -->
  <div class="row">
    <div class="st-input-label col-md-4 col-sm-4"></div>
    <div class="st-input-label col-md-4 col-sm-4">Ski Distance:</div>
    <div class="st-input-label col-md-4 col-sm-4">Top Speed:</div>
  </div>

  <!-- ski distance, top speed input fields -->
  <div class="row st-new-entry-input-row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-4 col-sm-4">
      <input class="st-input" ng-model="$ctrl.skiDist">
    </div>
    <div class="col-md-4 col-sm-4">
      <input class="st-input" ng-model="$ctrl.topSpeed">
    </div>
  </div>


  <!-- description label -->
  <div class="row">
    <div class="st-input-label col-md-12 col-sm-12">Description:</div>
  </div>

  <!-- description input field -->
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <textarea class="st-input st-input-textarea" ng-model="$ctrl.description"></textarea>
    </div>
  </div>

  <!-- create entry btn row -->
  <div class="row st-new-entry-btn-row">
    <div class="col-md-12 col-sm-12">
      <button class="st-btn st-btn-woohoo st-new-entry-create-btn" type="button"
              ng-click="$ctrl.createNewEntry()">
        Create New Entry
      </button>
    </div>
  </div>

</div>