.st-modal {
  &-container {
    border-radius: 5px;
  }

  &-header {
    border-radius: 4px 4px 0 0;
    border-bottom: solid 1px $title-blue;
    background-color: lighten($title-blue, 10%);
    color: lighten($powder-blue, 32%);
    font-size: 28px;
    font-weight: 800;
    padding: 15px;
  }

  &-body {
    padding: 10px 15px;
  }

  &-footer {
    border-radius: 5px;
    padding: 5px;

    &-btn-container {
      display: flex;
      justify-content: flex-end;

      & > button {
        @include st-btn-style($black, $white, lighten($black, 5%));

        margin-left: 5px;
  
        &:hover {
          @include st-btn-style($black, $grey, lighten($black, 5%));
        }
      }
    }
  }
}

// override uib modal styling
.modal-dialog {
  margin-top: 8%;
}