
.st {
  &-panel {
    &-container {
      @include margin-x(10%);

      border: solid 1px rgb(0, 140, 196);
      border-radius: 5px;
      background-color: rgb(245, 245, 245);
      font-family: Arial;
      font-size: 16px;
      padding: 15px;
    }
    
    &-header {
      border-bottom: solid 1px rgb(221, 221, 221);
      font-size: 20px;
      font-weight: 800;
      color: $powder-blue;
    }

    &-body {
      color: rgb(77, 77, 77);
      font-weight: 600;
      margin-top: 10px;
    }
  }

  &-flex-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    & > button {
      @include margin-x(10px);
    }
  }
}