.test-class {
  background-color: rgb(191, 240, 255);
  color: black;
  border: 1px solid rgb(0, 195, 255);
  border-radius: 3px;
  margin: 20px;

  p {
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgb(255, 201, 102);
    font-size: 16px;
    padding: 10px;
    margin: 10px 10px;
  }
}