<div class="st-input-cust-container st-dropdown-container"
     ng-class="{'st-input-cust-container-shadow': $ctrl.isToggled}"
     ng-click="$ctrl.toggleDropdown()">
  
  <!-- text input field used to hold value of dropdown -->
  <input class="st-input" ng-model="$ctrl.selectModel" readonly>

  <!-- btn w/ icon -->
  <button class="st-input-icon-btn" type="button" ng-click="$ctrl.toggleBoxShadow()">
    <i class="fas fa-chevron-down"></i>
  </button>

  <!-- dropdown options (their position is absolute) -->
  <div class="st-dropdown-options-container"
       ng-class="{'hidden': !$ctrl.isToggled}">
       
    <div class="st-dropdown-option"
         ng-repeat="item in $ctrl.optionsArr"
         ng-class="{'selected': item == $ctrl.selectModel}"
         ng-if="!$first || ($first && $ctrl.selectModel != $ctrl.defaultVal)">
      {{item}}
    </div>
  </div>

</div>