.st-dropdown {
  $container-border: solid 1px darken($grey, 10%);
  $border-rad: 0 0 3px 3px;

  // use as anchor for options container
  &-container {
    position: relative;

    & > input {
      cursor: pointer;
    }
  }

  // container surrounding options
  &-options-container {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    z-index: 10;

    border: $container-border;
    border-top: none;
    border-radius: $border-rad;
    background-color: $white;
    box-shadow: 0 1px 3px $grey !important;
    -webkit-box-shadow: 0 1px 3px $grey !important;
  }

  // each option
  &-option {
    border-top: solid 1px $grey;
    padding: 2px 8px;

    // an option that was already selected by the user (ie. current val of the input field)
    &.selected {
      background-color: lighten($powder-blue, 28%);

      &:hover {
      background-color: lighten($powder-blue, 24%);
      }
    }

    // add border to first option to make it appear like this option is not covering .st-input-cust-container border
    &:first-of-type {
      border-top: $container-border;
      padding-top: 5px;
    }

    &:last-of-type {
      border-radius: $border-rad;
    }

    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }
}