<div class="st-ed-header">
  Ski Entries Dashboard
</div>

<div class="st-ed-body">

  <div class="row">
    <!-- filters container -->
    <div class="st-ed-filter-container col-lg-3 col-md-3 col-sm-3">
      <p>I am the <b>filter</b> container</p>
    </div>

    <!-- all entries -->
    <div class="st-ed-entries-container col-lg-9 col-md-9 col-sm-9">
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
      <p>I am the <b>entries</b> container</p>
    </div>
  </div>

</div>