<div class="st-ed-header">
  Ski Entries Dashboard
</div>

<div class="st-ed-body">

  <div class="container">
    <div class="row justify-content-around">
      <!-- filters container -->
      <div class="st-ed-filter-container col-lg-3 col-md-3 col-sm-3">
        <entries-filter></entries-filter>
      </div>

      <!-- all entries -->
      <div class="st-ed-entries-container col-lg-8 col-md-8 col-sm-8">
        <entries-list seasons-arr="displayedSeasonsEntries"></entries-list>
      </div>
    </div>
  </div>

</div>