.st-de-modal {
  &-body {
    @include padding-y(20px);

    & > p {
      font-size: 16px;

      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }

  &-footer-btn {
    &-delete {
      color: $red;

      &:hover {
        background-color: lighten($red, 45%);
      }
    }

    &-cancel {
      color: $black;

      &:hover {
        background-color: lighten($grey, 1%);
      }
    }
  }
}