<div class="st-el-entries-container">

  <!-- iterate over each season -->
  <div ng-repeat="season in $ctrl.seasonsArr">

    <div class="st-el-season-container">
      <!-- season header -->
      <div class="st-el-season-header"
           ng-class="{'expanded': season.isExpanded}"
           ng-click="$ctrl.expandSeason(season)">
        {{season.title}}
      </div>

      <!-- season body -->
      <div class="st-el-season-body"
           ng-class="{'hidden': !season.isExpanded}">

        <div class="st-el-entry-container"
             ng-repeat="entry in season.entries">
             
          <div class="st-el-entry-header">

            <div class="st-el-entry-header-items">
                <div class="st-el-entry-header-day">Day {{entry.day}}</div>
                <div class="st-el-entry-header-date">{{entry.date | date: 'mediumDate'}}</div>
                <div class="st-el-entry-header-ski-area">{{entry.skiArea.name}}</div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </div>
</div>