.st-el {
  $border-rad: 3px;

  &-entries-container {

  }

  &-season {

    &-container {
      border: solid 1px lighten($orange, 10%);
      border-radius: $border-rad;
      margin-bottom: 20px;
    }

    &-header {
      @include padding-y(5px);

      border-radius: $border-rad;
      background-color: lighten($orange, 47%);
      color: darken($powder-blue, 15%);
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }

      &.expanded {
        border-radius: $border-rad $border-rad 0 0;
        border-bottom: solid 1px $powder-blue;
      }
    }

    &-body {
      // padding: 5px;
    }
  }

  &-entry {
    &-container {
      border-bottom: solid 1px $powder-blue;
      background-color: lighten($powder-blue, 32%);
      padding: 8px 0px;

      &:last-of-type {
        border-bottom: none;
        border-radius: 0 0 $border-rad $border-rad;
      }
    }

    &-header {
      @include padding-x(8px);

      display: flex;

      &-items-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }

      &-day {
        color: $title-blue;
        font-weight: 600;
        margin-left: 10px;
      }
      
      &-date {
        font-size: 12px;
        margin-left: 10px;
      }

      &-ski-area {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $title-blue;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}