<div class="st-el-entries-container">

  <!-- iterate over each season -->
  <div ng-repeat="season in $ctrl.seasonsArr">
    <div class="st-el-season-container">
      <!-- season header -->
      <div class="st-el-season-header"
           ng-class="{'expanded': season.isExpanded}"
           ng-click="$ctrl.expandSeason(season)">
        {{season.title}}
      </div>

      <!-- season body -->
      <div class="st-el-season-body"
           ng-class="{'hidden': !season.isExpanded}">

        <!-- each entry -->
        <div ng-repeat="entry in season.entries">
          <entries-list-item entry="entry" is-last="$last"></entries-list-item>
        </div>
      </div>
    </div>

  </div>
</div>