<div class="st-el-entries-container">

  <!-- iterate over each season -->
  <div ng-repeat="season in $ctrl.seasonsArr">
    <div class="st-el-season-container">
      <!-- season header -->
      <div class="st-el-season-header"
           ng-class="{'expanded': season.isExpanded}">
        {{season.title}}

        <!-- expand close icons -->
        <div class="st-el-season-header-icon-anchor">
          <div class="st-el-season-header-icon-container"
               ng-click="$ctrl.expandSeason(season)"
               uib-tooltip="{{(season.isExpanded ? 'Collapse' : 'Expand') + ' Season'}}"
               tooltip-class="powder-tooltip"
               tooltip-append-to-body="true">

            <i class="far fa-caret-square-down" ng-if="!season.isExpanded"></i>
            <i class="far fa-caret-square-up" ng-if="season.isExpanded"></i>

          </div>
        </div>
      </div>

      <!-- season body -->
      <div class="st-el-season-body"
           ng-class="{'hidden': !season.isExpanded}">

        <!-- each entry -->
        <div ng-repeat="entry in season.entries">
          <entries-list-item entry="entry" is-last="$last"></entries-list-item>
        </div>
      </div>
    </div>

  </div>
</div>