.test-class {
  background-color: gold;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  margin: 20px; }
  .test-class p {
    border: 1px solid white;
    border-radius: 3px;
    background-color: #fff;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0px; }
