$min-width: 230px;

// override uib-datepicker styling
ul {
  // selecting a specific date (day view)
  &.uib-datepicker-popup.dropdown-menu {
    padding: 0 !important;
    min-width: $min-width;

    table {

      // header and month rows
      thead {
        tr {
          th {
            & > button {
              border-top: none;
              border-radius: 0px;
            }
          }

          // left arrow btn
          & th:first-of-type button {
            border-left: none;
            border-right: none;
            border-top-left-radius: 4px;
          }

          // right arrow btn
          & th:last-of-type button {
            border-left: none;
            border-right: none;
            border-top-right-radius: 4px;
          }
        }
      }

      tbody {
        tr td button {
          border: solid 1px transparent;

          // currently selected date
          &.active {
            background-color: lighten($powder-blue, 30%);
            border: solid 1px lighten($powder-blue, 15%);

            & > span {
              color: $title-blue;
            }
          }

          &:hover {
            background-color: lighten($grey, 4%);
            border: solid 1px $powder-blue;
          }
        }

        // rounded borders for btns at bottom left and bottom right of calendar
        tr:last-of-type {
          td:first-of-type button {
            border-bottom-left-radius: 4px;
          }

          td:last-of-type button {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }

  // selecting a month (month view)
  .uib-monthpicker table {
    min-width: $min-width;
  }


  // selecting a year (year view)
  .uib-yearpicker table {
    min-width: $min-width;
  }
}