.st-fe-modal {
  &-msg {
    font-size: 18px;
    text-align: center;

    &-redirect {
      color: darken($powder-blue, 10%);
      font-weight: 600;
      font-size: 20px;
    }
  }

  &-timer {
    border: solid 1px $title-blue;
    border-radius: 3px;
    background-color: $white;
    color: $powder-blue;
    font-size: 34px;
    font-weight: 800;
    text-align: center;
    min-width: 60px;

    &-container {
      display: flex;
      justify-content: center;
    }

    // class appended when second value is changed in timer div
    &.active-change {
      background-color: lighten($powder-blue, 15%);
      transition: 0.8s background-color cubic-bezier(0, .99, .04, -0.03);
    }
  }
}

// override global modal style rules
.st-modal {
  $background-col: lighten($powder-blue, 32%);

  &-header {
    text-align: center;
  }

  &-body {
    background-color: $background-col;
  }

  &-footer {
    background-color: $background-col;
  }
}