<div class="st-input-cust-container st-dropdown-container"
     ng-class="{'st-input-cust-container-shadow': $ctrl.isToggled}">
  
  <!-- text input field used to hold value of dropdown -->
  <input class="st-input" ng-model="$ctrl.selectModel" ng-click="$ctrl.toggleDropdown()" readonly>

  <!-- btn w/ icon -->
  <button class="st-input-icon-btn" type="button" ng-click="$ctrl.toggleDropdown()">
    <i class="fas fa-chevron-down"></i>
  </button>

  <!-- dropdown options container -->
  <div class="st-dropdown-options-container"
       ng-class="{'hidden': !$ctrl.isToggled}">
       
    <!-- simple dropdown options -->
    <div ng-if="$ctrl.dropdownType === 'simple'">
      <div class="st-dropdown-option st-dropdown-option-simple"
          ng-repeat="item in $ctrl.optionsArr track by $index"
          ng-class="{'selected': item == $ctrl.selectModel}"
          ng-if="!$first || ($first && $ctrl.selectModel != $ctrl.defaultVal)"
          ng-click="$ctrl.itemSelectedSimple(item)">
        {{item}}
      </div>
    </div>


    <!-- multiselect dropdown options -->
    <div ng-if="$ctrl.dropdownType === 'multiselect'">

      <!-- add new item option -->
      <div class="st-dropdown-option st-dropdown-option-multiselect st-dropdown-option-add-new"
           ng-if="$ctrl.addNewAllowed">
        <div class="st-dropdown-option-multiselect-icon" ng-click="$ctrl.focusAddNew()">
          <i class="far fa-plus-square"></i>
        </div>

        <div class="st-dropdown-option-multiselect-item">
          <!-- Add New (listens for user to press 'enter') -->
          <input ng-model="$ctrl.newOption"
                 class="st-dropdown-option-multiselect-input"
                 placeholder="Add New"
                 ng-keydown="$event.keyCode === 13 && $ctrl.addNewItemToOptions()">
        </div>
      </div>


      <!-- all selectable options -->
      <div class="st-dropdown-option st-dropdown-option-multiselect"
           ng-repeat="item in $ctrl.optionsArr track by $index"
           ng-click="$ctrl.addRemoveItem(item)">

        <!-- icon -->
        <div class="st-dropdown-option-multiselect-icon">
          <i ng-if="!$ctrl.selectedOptions.includes(item)" class="far fa-square"></i>
          <i ng-if="$ctrl.selectedOptions.includes(item)" class="far fa-check-square"></i>
        </div>

        <!-- item -->
        <div class="st-dropdown-option-multiselect-item">
          {{item}}
        </div>
      </div>
    </div>

  </div>
</div>