@use 'sass:color';

.st-calendar {
  &-month-title {
    background-color: $white;
    color: darken($powder-blue, 15%);
    font-size: 1.3em;
    width: 238px;  // width of table with curr font-size
  }

  // override uib-datepicker styling
  .uib-datepicker .uib-daypicker {
    outline: 0;

    & table {
      background-color: $white;

      & thead {
        border-bottom: solid 1px $powder-blue;

        // hide default month btn above week day vals
        & > tr:first-of-type {
          display: none;
        }
      }

      & tbody tr td {
        & button {
          border: none;

          &.btn {
            cursor: default;

            &.active {
              box-shadow: none;
              -webkit-box-shadow: none;
            }

            // We can't use info because classes change when other uib datepickers are persent
            &-info {
              background-color: $white;
              color: $black;
            }

            // set style foreach date's span to have selected date styling (all but selected will style will be overriden)
            &-default {
              background-color: $white;
              
              & > span {
                display: inline-block;
                background-color: lighten($powder-blue, 2%);
                border-radius: 15px;
                color: $white;
                padding: 3px 5px;
                margin: -5px;
                min-width: 24px;
              }

              &:active {
                background-color: rgba(0, 0, 0, 0);
              }
            }
          }

          // override styling foreach disabled btn (which will be all dates EXCEPT the date passed to this component)
          &:disabled {
            cursor: default;
            opacity: 1;

            & > span {
              background-color: $white;
              color: $black;
            }
          }
        }
      }
    }
  }

}