<p>I am the edit-entry component. Yaboo!</p>
<!-- <div class="st-edit-entry-container">

  <div class="st-edit-entry-header">Edit Entry</div>

  <div class="st-edit-entry-body">
    <input-entry editable-entry="$ctrl.entry"></input-entry>

    <div class="st-edit-entry-btns">
      <button class="btn"></button>
    </div>

    <div class="st-edit-entry-btns-container st-modal-footer-btns-container">
      <button class="st-modal-footer-btn st-edit-entry-save-btn">Save Entry</button>
      <button class="st-modal-footer-btn st-edit-entry-cancel-btn">Cancel</button>
    </div>
  </div>

</div> -->